#ApplicationList{
    padding: 30px;
    margin: 10px;
    background-color: rgb(248, 249, 250);
    .MuiPaper-root{
        border: 2px solid;
        .MuiTableContainer-root{
            table{
                thead{
                    border: 2px solid;
                    tr{
                        th{
                            border-right-width: 1px;
                            border-right-style: solid;
                            border-right-color: inherit;
                        }
                    }
                }
                tbody{
                    tr{
                        td{
                            border-right-width: 1px;
                            border-right-style: solid;
                            border-right-color: inherit;
                        }
                    }
                }
            }
        }
    }
    p{
        margin-top: unset;
        margin-bottom: unset;
    }
}