#ApplicationList{
    padding: 30px;
    margin: 10px;
    background-color: rgb(248, 249, 250);
    .MuiPaper-root{
        border: 2px solid;
        .MuiTableContainer-root{
            table{
                thead{
                    border: 2px solid;
                    tr{
                        height: 120px;
                        th{
                            border-right-width: 1px;
                            border-right-style: solid;
                            border-right-color: inherit;
                            font-weight: bold;
                            position: relative;
                            // span{
                            //     position: absolute;
                            //     top: 0;
                            // }
                            .searchDiv{
                                position: absolute;
                                bottom: 2px;
                            }
                        }
                    }
                }
                tbody{
                    tr{
                        td{
                            border-right-width: 1px;
                            border-right-style: solid;
                            border-right-color: inherit;
                        }
                    }
                }
            }
        }
    }
    p{
        margin-top: unset;
        margin-bottom: unset;
    }
}